@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

h1, li {
    color: white;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

nav {
    height: 80px;
    background-color: rgb(24, 24, 24);
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    height: 100%;
}

.nav__list {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    padding-right: 100px;
}

.fa-bars {
    display: none;
}

.nav__list--item {
    font-size: 24px;
    list-style-type: none;
    padding: 6px, 0;
}

.nav__list--item:hover {
    text-decoration: underline;
}

.banner__img {
    height: 300px;
    object-fit: cover;
    object-position: center;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.banner {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 80px;
    text-align: center;
}

.banner__background {
    position: absolute;
    height: 300px;
    width: 100%;
    top: 0;
    background-color: rgb(24, 24, 24);
    z-index: 1;
    opacity: 50%;
}

#search .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#search__form {
    width: 80%;
    display: flex;
    justify-content: center;
}

#movie__input {
    height: 40px;
    width: 90%;
    max-width: 600px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
}

.search__btn {
    width: 40px;
    height: 40px;
    background-color: #d13438;
    border-radius: 50px;
    border: none;
}

.fa-magnifying-glass {
    font-size: 20px;
    color: white;
}

/*MOVIES*/

#movies .container {
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

#movies .row {
    width: 100%;
    max-width: 1200px;
}

.movies__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie__card {
    width: calc((100% - 72px) / 4);
    max-width: none;
    height: 150px;
    font-family: 'Roboto';
    font-size: 16px;
    color: white;
    padding: 12px;
    margin: 12px;
    border-radius: 12px;
    background-color: rgb(24, 24, 24);
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: all 300ms ease;
}

.movie__card:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.loading__screen {
    height: 30vh;   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loading__text {
    font-family: "Roboto", sans-serif;
}

@keyframes spin {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}

.fa-spinner {
    font-size: 48px;
    padding: 12px;
    animation: spin 1s infinite;
}

.show__more--container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.show__more {
    background-color: rgb(24, 24, 24);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    width: 40vw;
    height: 40px;
    cursor: no-drop;
    margin: 24px 0;
}

@media (max-width: 768px) {
    .title {
        font-size: 44px;
        max-width: none;
    }
    .banner {
        height: 150px;
    }
    .banner__img, .banner__background {
        height: 150px;
    }
    .nav__list {
        padding-right: 0px;
    }
    .nav__list--item {
        padding: 0 8px;
    }
}

@media (max-width: 480px) {
    .banner__img {
        opacity: 0%;
    }
    .banner__background {
        opacity: 100%;
        background-color: #d13438;
    }
    .nav__list {
        display: none;
    }
    .fa-bars {
        display: block;
        color: white;
        font-size: 48px;
        position: relative;
        top: 25%;
        right: 12px;
        cursor: no-drop;
    }
    .movie__card {
        width: 36%;
    }
}